.resizable {
  position: relative;
  height: calc(100vh - var(--header-height));
  width: 100vw;
  display: flex;
}

.resizable .left,
.resizable .right {
  position: relative;
  height: 100%;
  transition: width 150ms;
}

.resizable.dragging .left,
.resizable.dragging .right {
  transition: none;
}

.resizable .left {
  width: calc(70% - 2px);
}

.resizable .right {
  width: calc(30% - 2px);
}

.resizable .handle {
  width: 6px;
  cursor: col-resize;
  height: 100%;
  background-color: #ddd;
}
@media (max-width: 768px) {
  .resizable .handle {
    width: 15px;
  }
}
.resizable .handle:hover {
  background-color: #ccc;
}

.resizable .overlay {
  display: none;
}

.resizable .overlay.active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: block;
  cursor: col-resize;
}
