.resizable {
  position: relative;
  height: calc(100svh - var(--header-height));
  width: 100vw;
  display: flex;
}

.resizable .left,
.resizable .right {
  position: relative;
  height: 100%;
  transition: width 150ms;
}

.resizable.dragging .left,
.resizable.dragging .right {
  transition: none;
}

.resizable .left {
  width: calc(70% - 2px);
}

.resizable .right {
  width: calc(30% - 2px);
  border-left: 1px solid light-dark(#fff, #3d3d3d);
}

.resizable .handle {
  width: 10px;
  cursor: col-resize;
  height: 100%;
  border-right: 1px solid light-dark(#d4d4d4, #181818);
  background-color: var(--color-sidebar);
}
@media (max-width: 640px) {
  .resizable .handle {
    width: 15px;
  }
}
.resizable .handle:hover {
  background-color: light-dark(#d4d4d4, #181818);
}

.resizable .overlay {
  display: none;
}

.resizable .overlay.active {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: block;
  cursor: col-resize;
}
