.zoom-controls {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
}
.zoom-controls button {
  width: 25px;
  height: 25px;
  cursor: zoom-out;
}
.zoom-controls button.in {
  cursor: zoom-in;
}

