.note-manager{
  --inactive-note-bg: #999;
  --active-note-bg: var(--color-brand-very-light);
}

.dark .note-manager{
  --inactive-note-bg: #444;
  --active-note-bg: #3A4949;
}

.notes-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notes-wrapper .note-manager {
  flex: 1;
  overflow: auto;
}


.note-manager .new-note button {
  width: 100%;
}

.note-manager textarea,
.note-manager input {
  padding: 1rem;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}

.note-manager .note textarea,
.note-manager .note input {
  border: 1px solid #767676;
}

.note-manager .validation-message {
  padding-bottom: 10px;
  color: #f22;
}

.note-manager textarea.error {
  border: 1px solid #f22;
}

.note-manager blockquote {
  padding: 0.5rem;
  margin: 0.5rem 0;
  padding-bottom: 16px;
  white-space: pre-wrap;
}

.note-manager .icon {
  margin-right: 3px;
  color: #e22;
  padding: 2px;
}

.note-manager .update {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 3px;
  color: light-dark(#444, #ddd);
}
.note-manager .update.disabled {
  text-decoration: none;
  color: light-dark(#ddd, #444);
  cursor: initial;
}

.note-manager .note {
  padding: 8px;
  border: 1px solid;
  border-color: light-dark(#eee, #444);
  margin-top: 5px;
  border-radius: 6px;
}

.note-manager .note-link a {
  font-weight: bold;
}

.note-manager .note .actions {
  display: flex;
}

.note-manager button.remove {
  color: #f22;
}

.note-manager .fill {
  flex: 1;
}

.note-manager button.save {
  color: #2a2;
}

.note-manager button.edit {
  font-size: 8px;
  background: none;
  filter: grayscale(100%);
  opacity: 30%;
  transition: all 200ms ease-in-out;
}
.note-manager .note:hover button.edit {
  filter: none;
  opacity: 100%;
}
