.note-manager{
  --inactive-note-bg: #ebebeb;
  --active-note-bg: #d8e8e7
}

.dark .note-manager{
  --inactive-note-bg: #444;
  --active-note-bg: #3A4949;
}

.notes-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notes-wrapper .note-manager {
  flex: 1;
  overflow: auto;
}


.note-manager .new-note button {
  width: 100%;
}

.note-manager textarea,
.note-manager input {
  padding: 1rem;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}

.note-manager .note textarea,
.note-manager .note input {
  border: 1px solid #767676;
}

.note-manager .validation-message {
  padding-bottom: 10px;
  color: #f22;
}

.note-manager textarea.error {
  border: 1px solid #f22;
}



.note-manager .icon {
  margin-right: 3px;
  color: #e22;
  padding: 2px;
}

.note-manager .update {
  text-decoration: underline;
  cursor: pointer;
  margin-left: 3px;
  color: light-dark(#444, #ddd);
}
.note-manager .update.disabled {
  text-decoration: none;
  color: light-dark(#ddd, #444);
  cursor: initial;
}

.note-manager .note .actions {
  display: flex;
}

.note-manager .fill {
  flex: 1;
}
