.version {
  padding: 1rem;
  background-color: light-dark(#eee, #111);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.version select {
  flex: 1;
  margin: 0 1rem;
}

.version .icon {
  background-color: lightyellow;
  border-radius: 5px;
  color: #f00;
  display: inline-block;
  font-weight: bold;
  height: 1.5rem;
  padding: 0 0.2rem;
  text-align: center;
  vertical-align: middle;
  width: 1.5rem;
}
