<div
  data-side="bottom"
  data-align="center"
  role="menu"
  aria-orientation="vertical"
  data-state="open"
  data-radix-menu-content=""
  dir="ltr"
  id="radix-:r3:"
  aria-labelledby="radix-:r2:"
  data-slot="dropdown-menu-content"
  class="data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 max-h-(--radix-dropdown-menu-content-available-height) origin-(--radix-dropdown-menu-content-transform-origin) overflow-x-hidden overflow-y-auto rounded-md border shadow-md bg-[#242424] mt-1 p-4 border-none text-white min-w-[315px]"
  tabindex="-1"
  data-orientation="vertical"
  style="
    outline: none;
    --radix-dropdown-menu-content-transform-origin: var(
      --radix-popper-transform-origin
    );
    --radix-dropdown-menu-content-available-width: var(
      --radix-popper-available-width
    );
    --radix-dropdown-menu-content-available-height: var(
      --radix-popper-available-height
    );
    --radix-dropdown-menu-trigger-width: var(--radix-popper-anchor-width);
    --radix-dropdown-menu-trigger-height: var(--radix-popper-anchor-height);
    pointer-events: auto;
  "
>
  <div
    role="menuitem"
    data-slot="dropdown-menu-item"
    data-variant="default"
    class="data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive [&amp;_svg:not([class*='text-'])]:text-muted-foreground relative cursor-default gap-2 rounded-sm px-2 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4 pl-3 py-3 flex items-start justify-between hover:bg-[#2D2D2D] focus:bg-[#2D2D2D] focus:text-white"
    tabindex="-1"
    data-orientation="vertical"
    data-radix-collection-item=""
  >
    <div class="flex flex-col">
      <span class="text-sm font-medium mb-1">Report an issue or suggestion</span
      ><span class="text-xs text-muted-foreground"
        >Go to the issue creation page</span
      >
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-external-link text-brand-dark dark:text-brand"
    >
      <path d="M15 3h6v6"></path>
      <path d="M10 14 21 3"></path>
      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
    </svg>
  </div>
  <div
    role="menuitem"
    data-slot="dropdown-menu-item"
    data-variant="default"
    class="data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive [&amp;_svg:not([class*='text-'])]:text-muted-foreground relative cursor-default gap-2 rounded-sm px-2 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4 pl-3 py-3 flex items-start justify-between hover:bg-[#2D2D2D] focus:bg-[#2D2D2D] focus:text-whit"
    tabindex="-1"
    data-orientation="vertical"
    data-radix-collection-item=""
  >
    <div class="flex flex-col">
      <span class="text-sm font-medium mb-1"
        >Star us on Github to show support</span
      ><span class="text-xs text-muted-foreground">Visit our Github</span>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-external-link text-brand-dark dark:text-brand"
    >
      <path d="M15 3h6v6"></path>
      <path d="M10 14 21 3"></path>
      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
    </svg>
  </div>
  <div
    role="menuitem"
    data-slot="dropdown-menu-item"
    data-variant="default"
    class="data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:!text-destructive [&amp;_svg:not([class*='text-'])]:text-muted-foreground relative cursor-default gap-2 rounded-sm px-2 text-sm outline-hidden select-none data-[disabled]:pointer-events-none data-[disabled]:opacity-50 data-[inset]:pl-8 [&amp;_svg]:pointer-events-none [&amp;_svg]:shrink-0 [&amp;_svg:not([class*='size-'])]:size-4 pl-3 py-3 flex items-start justify-between hover:bg-[#2D2D2D] focus:bg-[#2D2D2D] focus:text-whit"
    tabindex="-1"
    data-orientation="vertical"
    data-radix-collection-item=""
  >
    <div class="flex flex-col">
      <span class="text-sm font-medium mb-1">Fork &amp; contribute</span
      ><span class="text-xs text-muted-foreground pt-1"
        >Opens the fork creation page</span
      >
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-external-link text-brand-dark dark:text-brand"
    >
      <path d="M15 3h6v6"></path>
      <path d="M10 14 21 3"></path>
      <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
    </svg>
  </div>
</div>
