.notes .newNote {
  display: flex;
  flex-direction: column;
}
.notes textarea {
  flex: 1;
  padding: 1rem;
}

.notes button.remove {
  color: #f22;
}

.notes blockquote {
  cursor: zoom-in;
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.notes blockquote:hover {
  border: 1px solid #eee;
}
