.labels.filter {
  margin: 15px 0;
}

.labels .label-link {
  opacity: 50%;
  cursor: pointer;
}

.labels .label-link.active {
  opacity: 100%;
}

.labels .tree-fold {
  display: inline-block;
  width: 0.7rem;
  cursor: pointer;
}

.labels .tree-children {
  padding-left: 1rem;
}

.labels .tree-children.hide {
  display: none;
}

