.sidebar {
  height: 100vh;
  overflow: hidden;
}

.sidebar .content {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

@media (max-width: 768px) {
  .sidebar {
    box-sizing: border-box;
    padding-bottom: 60px;
  }
}
