.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--smaller-font-size);
}

.sidebar .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0 1rem;
  justify-content: start;
}
