.sidebar {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar .content {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
