.settings-close {
  float: right;
}
.settings-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.ReactModal__Overlay {
  background: light-dark(inherit, rgba(32, 32, 32, 0.8)) !important;
}

.ReactModal__Content {
  background: light-dark(inherit, rgb(32, 32, 32)) !important;
  border-color: light-dark(inherit, rgb(132, 132, 132)) !important;
}
