.settings-close {
  float: right;
}
.settings-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.ReactModal__Overlay {
  background: light-dark(
    rgba(255, 255, 255, 0.75),
    rgba(32, 32, 32, 0.8)
  ) !important;
}

.ReactModal__Content {
  background: var(--background) !important;
  /* border-color: light-dark(rgba(204, 204, 204), #111) !important; */
  border-color: light-dark(rgba(204, 204, 204), #666) !important;
}
