.outline {
  overflow-y: auto;
}

.outline ul {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

.outline li.active > a {
    background-color: #111;
}

@media (prefers-color-scheme: light) {
  .outline li.active > a {
    background-color: #eee;
  }
}

.outline a {
  cursor: pointer;
}
