#root {
  display: flex;
  height: 100vh;
}

iframe {
  box-sizing: border-box;
  padding-top: 40px;
  height: 100%;
  width: 100%;
  opacity: 0;
}

iframe.visible {
  opacity: 1.0;
  transition: opacity 500ms;
}
