#root {
  display: flex;
  height: 100vh;
}

iframe {
  box-sizing: border-box;
  padding-top: 40px;
  height: 100vh;
  width: 70vw;
  opacity: 0;
}

iframe.visible {
  opacity: 1.0;
  transition: opacity 500ms;
}

.viewer {
  box-sizing: border-box;
  height: 100%;
  width: 30vw;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
}
