#root {
  display: flex;
  height: 100vh;
}

.pdf-viewer-container {
  box-sizing: border-box;
  margin-top: 45px;
  height: calc(100vh - 45px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.viewer {
  box-sizing: border-box;
  height: 100%;
  width: 30vw;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: hidden;
}
