@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/@fluffylabs/shared-ui/dist/";

:root{
  --brand: rgb(97 237 226);
  --brand-light: rgb(200 243 240);
  --brand-very-light: rgb(242 255 254);
  --brand-dark: rgb(18 152 141);
  --brand-very-dark: rgb(14 116 107);
  --brand-darkest: rgb(14 53 50);

  --sidebar-foreground: var(--color-gray-600);
}

.dark{
  --sidebar-foreground: rgb(255 255 255);
  --sidebar-foreground: var(--color-gray-300);
  /* Force light mode rendering */
}

@theme{
  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --color-brand-darkest: var(--brand-darkest);
  --color-brand-very-dark: var(--brand-very-dark);
  --color-brand-light: var(--brand-light);
  --color-brand-very-light: var(--brand-very-light);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --animate-fade-in: fade-in 0.75s ease-in forwards;

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
}
