@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/@fluffylabs/shared-ui/dist/";

@theme{
  --animate-fade-in: fade-in 0.75s ease-in forwards;

  @keyframes fade-in {
    from { opacity: 0 }
    to   { opacity: 1 }
  }
}

@theme {
  /* Custom TailwindCSS colors redefinition from @fluffylabs/shared-ui */
  /* Since all the colors defined in @fluffylabs/shared-ui are not included in the final bundle of @fluffy-labs/share-ui, we need to redefine them here manually. Not all of these colors are not used by components of shared-ui. */

  --color-title-foreground: var(--title-foreground);
  --color-title: var(--title);
  --color-title-secondary-foreground: var(--title-secondary-foreground);

  --color-brand: var(--brand);
  --color-brand-dark: var(--brand-dark);
  --color-brand-darkest: var(--brand-darkest);
  --color-brand-very-dark: var(--brand-very-dark);
  --color-brand-light: var(--brand-light);
  --color-brand-very-light: var(--brand-very-light);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-sidebar: var(--sidebar);
  --color-sidebar-darker: var(--sidebar-darker);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-foreground-muted: var(--sidebar-foreground-muted);
}
