.pdf-viewer-root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: inherit;
}

.pdfViewer {
  min-width: fit-content;
}

.pdfViewer.light {
  filter: invert(1) contrast(1.5);
}

.pdfViewer.gray {
  filter: invert(1);
}

.pdfViewer.gray .textLayer ::selection,
.pdfViewer.light .textLayer ::selection {
  background: rgba(255, 155, 50, 0.25);
}

.pdfViewer .textLayer ::selection {
  background: rgba(0, 50, 255, 0.25);
}
