.pdf-viewer-root {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: inherit;
}

.pdf-viewer-loading {
  text-align: center;
  padding-top: 60px;
}

.pdfViewer {
  min-width: fit-content;
}

.pdfViewer.light .page{
  filter: invert(1) contrast(1.6);
}

.pdfViewer.gray .page {
  filter: invert(1);
}

.pdfViewer .textLayer {
  /* Bump the z-index of text layer, so that we can display highlights
   * between the page background and the text layer (selection is on top)
   */
  z-index: 1;
}

.pdfViewer.gray .textLayer ::selection,
.pdfViewer.light .textLayer ::selection {
  background: rgba(255, 155, 50, 0.25);
}

.pdfViewer .textLayer ::selection {
  background: rgba(0, 50, 255, 0.25);
}

.pdfViewer .page {
  background-color: var(--sidebar)

}
