.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  height: 40px;
  padding: 5px 10px;
  background: #000;
  font-size: 20px;
  color: #2ee;
  font-family: monospace;
}

.banner img {
  margin-right: 15px;
}

.banner a {
  color: inherit;
  line-height: 40px;
}
.banner a:hover {
  color: inherit;
  text-decoration: underline;
}

.banner .react-tooltip {
  font-size: 1rem;
}

.banner span {
  font-size: 0.7rem;
  font-style: italic;
}

.banner img {
  width: auto;
  height: 100%;
}
.banner img.github {
  filter: invert(1);
}
